@import '../../styles/globals';

.account-header {
	background: $theme_background;
	padding: 10px;
	color: #383838;

	span {
		position: absolute;
		right: 0;
		margin-right: 10px;

		a {
			cursor: pointer;
			color: white;
			transition: all .25s ease-in-out;
		}
		a:hover {
			color: #e21a1b;
			text-decoration: none;
		}
	}
}